.page-layout {
  min-height: calc(100vh - 98px);
  padding: 40px;
  background-color: #f5f5f5;
}

/* Lista padrão */
.page-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Item padrão */
.page-item {
  background-color: #e0e0e0;
  padding: 28px 36px;
  border-radius: 8px;
  font-size: 20px;
  color: #333;

  display: flex;
  justify-content: space-between;
}

.page-item strong {
  font-size: 22px;
  display: block;
  margin-bottom: 6px;
}
