.list-header,
.list-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.list-header {
  font-weight: 600;
  padding: 12px 0;
}

.list-row {
  padding: 16px 0;
  border-top: 1px solid #eaeaea;
}

.list-row:nth-child(even) {
  background-color: #f3f3f3;
}

.list span {
  padding-left: 8px;
}
