.home-container {
  padding: 40px 50px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 98px);
}

.section {
  margin-bottom: 50px;
}

.section-title {
  font-size: 28px;
  font-weight: 500;
  color: #333;
  margin-bottom: 25px;
  margin-top: 0;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
